/* Universal */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  color: #333;
  font-size: 18px;
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  line-height: 27px;
}

h1,h2,h3 {
  font-family: dapifer, serif;
}

h1 {
  font-size: 39px;
  line-height: 48px;
}

h2 {
  font-size: 28px;
  line-height: 34px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4, h5, h6 {
  font-family: proxima-nova, sans-serif;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

/* Header */

header {
  background-color: white;
  position: fixed;
  width: 100%;
}

header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding-bottom: 16px;
  padding-top: 32px;
}

.logo img {
  height: 26px;
}

.hamburger img {
  height: 20px;
}

.close {
  display: none;
}

nav {
  display: none;
}

/* Header Menu*/
header .dropdown {
  height: auto;
  padding: 0;
  flex-direction: column;
}

header .dropdown .logo {
  display: none;
}

header .dropdown .hamburger {
  display: none;
}

header .dropdown .close {
  display: flex;
  align-self: flex-end;
  padding: 30px 20px 20px 20px;
}

header .dropdown a.close img {
  height: 22px;
}

header .dropdown nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

header .dropdown nav span {
  font-size: 21px;
  font-weight: 400;
  padding: 20px;
  margin-bottom: 20px;
}

header .dropdown nav a {
  text-decoration: none;
}

header .dropdown nav a:link {color: #333;}
header .dropdown nav a:visited {color: #333;}


/* Main */
main {
  padding-top: 75px;
}

/* Footer */

footer .container {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 100px;
  padding-top: 60px;
}

.social {
  display: flex;
  flex-direction: row;
}

footer a {
  line-height: 0;
}

footer img {
  width: 48px;
  padding: 12px;
}

footer h6 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

/* Homepage */

.hero .container{
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
}

.hero h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  margin: 0;
  text-align: center;
}

.hero h3 {
  display: none;
}


section.project {
  background-color: #FAFCFF;
}

.project .container {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 10px;
  padding-bottom: 100px;
}

.project figure {
  margin: auto 0;
}

.project img {
  width: 360px;
  height: auto;
}

.project .info {
  text-align: center;
}


.project h1 {
  font-weight: 400;
  margin-bottom: 6px;
}

.project h5 {
  font-weight: 400;
  margin-top: 6px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.project .button {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
}

a.button:link {color: #333;}
a.button:visited {color: #333;}
a.button:hover {color: #333;}

/* Project Page */

.spec h5 {
  color: grey;
  font-weight: 400;
  margin: 30px 0 0 0;
  text-transform: uppercase;
}

.spec p {
  font-size: 16px;
  font-weight: 400;
  margin:0;
}

.chapter h2 {
  font-weight: 400;
  margin: 100px 0 40px 0;
}

.chapter h3 {
  font-style: italic;
  font-weight: 500;
  margin-top: 40px;
}

.feedback {
  color: #9B9B9B;
  font-weight:400;
  margin: 40px 0;
  text-align: center;
}

.intro img,
.chapter img,
.chapter embed {
  width: 100%;
}

.intro {
  background-color: #FAFCFF;
  margin: 0;
}

.intro .container {
  align-items: center;
  display: flex;
  justify-content: center;
}

#hero1 {
  max-width: 380px;
}

#hero3 {
  display: none;
}

.chapter figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}

figure h6 {
  color: grey;
  font-style: italic;
  font-weight: 400;
  margin: 10px 0 30px 0;
}

#homescreen {
  display: none;
}

#logo {
  width: 300px;
  margin: 20px 0;
}

p.thanks {
  margin-top: 80px;
  font-weight: 400;
}



.deliverables {
  display: flex;
  flex-direction: column;
}

.deliverables a {
  padding-bottom: 20px;
}

.deliverables a:link {color: #333;}
.deliverables a:visited {color: #333;}

.bottom {
  align-items: center;
  display: flex;
  font-weight: 400;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin-top: 60px;
}

.bottom a {
  line-height: 24px;
  text-decoration: none;
}

.bottom img {
  height: auto;
  width: 14px;
}

.bottom a:link {color: #333;}
.bottom a:visited {color: #333;}


/* About Page */

.about h1 {
  font-style:italic;
  font-weight: 400;
  margin-top: 80px;
}

.item {
  margin: 24px 0;
}

.resume h3 {
  font-weight: 400;
  margin: 60px 0 20px 0;
}

.resume h4 {
  font-weight:400;
  margin: 4px 0;
}

.resume h5 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 4px 0;
}

.resume p {
  margin: 4px 0;
}

.experience p {
  font-size: 16px;
  font-weight: 300;
}


@media (min-width: 768px) {

a.hamburger {
  display: none;
}

nav {
  display: inline-flex;
}

nav span {
  padding: 0 0 0 40px;
}

nav a {
  text-align: right;
  text-decoration: none;
}

nav a:link {color: #333;}
nav a:visited {color: #333;}
nav a:hover {
  padding: 5px 0;
  border-bottom: 1px solid #999;
  color: #333;
}

.container {
  padding: 0 40px;
}

/* Homepage */

  .hero .container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 480px;
    justify-content: center;
  }

  .hero h3 {
    display: flex;
    font-size: 20px;
    font-weight: 300;
    margin: 8px;
  }


  .project .container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .project .info {
    margin-top: 160px;
    text-align: left;
  }

/* Project Page */

#hero1 {
  display: none;
}

#hero3 {
  display: flex;
  margin: 20px 0;
}

.specification {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-bottom: 120px;

}

.content {
  width: 770px;
}

.title {
  display: inline-flex;
}


  /* 1. Meet Eliza */
  #homescreen {
    height: auto;
    width: 100%;
    max-width: 380px;
  }

  .folder {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
  }

  .organization {
    display: flex;
    justify-content: center;
  }

  .organization figure {
    margin: 20px;
  }

  /* 2. The Challenge of Traditional Recording Tools */
  #tools {
    height: auto;
    margin: 20px 0;
    max-width: 600px;
  }

  #app {
    height:auto;
    margin: 20px 0 30px 0;
    max-width: 280px;
  }

  #list {
    height:auto;
    margin: 20px 0 40px 0;
    max-width: 280px;
  }

  /* 3. Solution: Customized Playback Control */

  #note {
    height: auto;
    margin: 20px 0 30px 0;
    max-width: 360px;
  }


  /* 4. Solution: File Organization and Search */

  .organization_item {
    height: auto;
    margin: 20px 0;
    max-width:280px;
  }

  /* 5. Why Eliza? */

  #logo {
    height:auto;
    margin: 20px 0 30px 0;
    max-width:240px;
  }

  #colorpalette {
    height:auto;
    margin: 20px 0 40px 0;
    max-width: 400px;
  }

}

@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
    width: 1024px;
  }

  /* Footer */

  footer .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-top: 60px;
  }

  .social {
    display: flex;
    flex-direction: row;
  }

  footer a {
    line-height: 0;
  }

  footer img {
    width: 48px;
    padding: 12px;
  }

  footer h6 {
    font-weight: 400;
    margin: 0 10px 0 0;
  }



/* Home Page */

  .hero h2 {
    font-size: 28px;
  }

  .hero h3 {
    font-size: 24px;
    margin: 10px;
  }

  /* Project Page */

  .specification {
    width: 900px
  }

  .content {
    width: 770px;
  }




  /* About Page */

  .about {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;

  }

  .about h1 {
    font-style:italic;
    font-weight: 400;
  }

  .about h3 {
    font-weight: 400;
  }

  .biography {
    display: flex;
    flex-direction: column;
    width: 410px;
    padding-left: 10px;
  }

  .text {
    width: 95%;
  }

  .resume {
    display: flex;
    flex-direction: column;
    width: 410px;
  }

  .experience, .education, .skills {
    margin: 0 0 20px 0;
  }

  .resume h3 {
    margin: 18px 0;
  }

  .resume h4 {
    font-weight:400;
    margin: 4px 0;
  }

  .resume h5 {
    font-weight: 300;
    text-transform: uppercase;
    margin: 4px 0;
  }

  .resume p {
    margin: 4px 0;
  }

  .item {
    margin: 24px 0;
  }

}
